*{
    box-sizing: border-box;
    margin: 0;
    padding: 0  ;
    font-family: "Outfit", serif;
    
}
body{
    background: black;
    color: white ;
    }


    h1{
        font-size: 10vh;
        color: transparent;
        background: linear-gradient(to top, white,rgb(21, 21, 21));
        -webkit-background-clip: text;
        margin: 10px;
        
    }
    .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    padding-top: 2vw;
    row-gap: 15px;
    margin-bottom: 4vw;

}

@media screen and (max-width:500px) {
    h1{
        font-size: 8vh;
    }
    .container{
        margin-top: 6vw;
    }
}